html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(31,40,51);
    background: radial-gradient(circle, rgba(31,40,51,1) 30%, rgba(11,12,16,1) 100%);
    margin: 0 auto;
    width: 100%;
}

.container {
    display: grid;
    height: 98vh;
    grid-template-rows: auto auto 10vh;
    grid-template-areas: "header" "main" "footer"
}

.header-item {
    grid-area: header;
}


.main-item {
    grid-area: main;
}

.footer-item {
    grid-area: footer;
}

.banner {
    background-image: url("Images/lGizsxU.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 30vh;
}

.logo {

}

.logo h1 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

h1,h2,h3 {
    color: #73efe6;
}

p {
    color: rgb(232,232,232);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.header-nav {
    border-bottom: solid 1px #73efe6;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

footer {
    border-top: solid 1px #73efe6;
}

nav ul li, p {
    color: #C5C6C7
}

nav ul li {
    margin: 0 5px;
}

nav ul li.hover {
    color: #73efe6;
    cursor: pointer;
}

.active {
    color: #73efe6;
}

section {
}

footer p {
    display: inline;
}

.main-title {
    display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}

footer nav ul {
    list-style: none;
}

/*1F2833*/
